<div class="container">
  <app-date-picker #startPicker
                   [(ngModel)]="startDate"
                   [markStart]="startDate"
                   [markEnd]="endDate"
                   [placeholder]="startPlaceholder"
                   (dateChange)="onStartChange()"></app-date-picker>
  <app-date-picker #endPicker
                   [(ngModel)]="endDate"
                   [markStart]="startDate"
                   [markEnd]="endDate"
                   [placeholder]="endPlaceholder"
                   (afterClose)="afterClose.emit()"
                   (dateChange)="notifyRangeUpdate()"></app-date-picker>
</div>
