<div class="center">
  <h1>Angular Material Datepicker</h1>
  <h3>normal</h3>
  <app-date-picker [(ngModel)]="date"
                   name="date"
                   (onChange)="onchange()"></app-date-picker>
  <h3>darkmode</h3>

  <app-date-picker [(ngModel)]="date"
                   name="date"
                   (onChange)="onchange()"
                   darkmode></app-date-picker>
  <h3>date-range-picker</h3>
  <app-date-range-picker [(ngModel)]="dateRange"></app-date-range-picker>
  <h3>date-range-picker(dark mode)</h3>
  <app-date-range-picker [(ngModel)]="dateRange" darkmode></app-date-range-picker>
  <h3>one range picker</h3>
  <app-date-range [(ngModel)]="dateRange"></app-date-range>
  <button (click)="show()">show</button>
</div>
